In [1]:
number = 0

if number > 0:
    print("positive number") 
elif number == 0:
    print("Zero")
else:
    print("Negative number")
    
    
print("This always prints")

Zero
This always prints

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
days = 0
week = ['mon','tue','wed','thu','fri','sat','sun']

while days<7:
    print("Today is " + week[days])
    days+=1

Today is mon
Today is tue
Today is wed
Today is thu
Today is fri
Today is sat
Today is sun

In [4]:
#SPLIT FUNCTION

In [5]:
text = "I write code"
text.split()

['I', 'write', 'code']

In [6]:
text = "I love Python"

text.split()

['I', 'love', 'Python']

In [8]:
x = input("Enter a three word message :")

Enter a three word message :I love Python

In [9]:
y =1

In [10]:
y,w=2,3

In [11]:
word1,word2,word3=x.split()

In [12]:
word1

'I'

In [13]:
a = int(input("Enter 1st number"))
b = int(input("Enter 2nd number"))
print(a+b)

Enter 1st number2
Enter 2nd number3
5

In [14]:
a,b=input("enter 2 numbers :").split()
c = int(a) + int(b)
print(c)

enter 2 numbers1 3
4

In [16]:
s = input("enter roll no , name, percentage")
roll,name,percent= s.split()
print(roll)
print(name)
print(percent)

enter roll no , name, percentage57 Nakul 71
57
Nakul
71

In [18]:
s1 = "A B C D E F"
print(s1.split(' ',4))

['A', 'B', 'C', 'D', 'E F']

In [21]:
s1 = "HI@HI@HI@HI"
s1.split('@')

['HI', 'HI', 'HI', 'HI']

In [22]:
s1 = "HI@HI@HI@HI"
s1.split('@',2)

['HI', 'HI', 'HI@HI']

In [23]:
for letter in "pwskills":
    print("letter",letter)

letter p
letter w
letter s
letter k
letter i
letter l
letter l
letter s

In [25]:
for letter in "pwskills":
    if letter == "l" :
        break
    print('letter',letter)

letter p
letter w
letter s
letter k
letter i

In [26]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [27]:
list(range(5))

[0, 1, 2, 3, 4]

In [29]:
i = 1

while i<=10:
    print(i)
    
    if i >=5:
        break
    i+=1

1
2
3
4
5

In [30]:
numbers = [10,20,30,40,120,230]

for i in numbers:
    if i>100:
        break
    print(i)

10
20
30
40

In [31]:
s = "Hello,World"

for char in s:
    print(char)
    if char ==',':
        break

H
e
l
l
o
,

In [33]:
for letter in "pwskills":
    if letter == 'l':
        continue
    print(letter)

p
w
s
k
i
s

In [34]:
for i in range(5):
    if i ==3:
        continue
    print(i)
    
    
    
    
#Break------end the loop
#continue-----skip the loop

0
1
2
4

In [35]:
#Write a program to print odd number from 1 to 10

for i in range(11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [36]:
 n = 10

if n>10:
    pass

print("Hello")

Hello

In [37]:
for i in range(5):
    pass

In [38]:
for letter in "pwskills":
    if letter == 'l':
        pass
    print(letter)

p
w
s
k
i
l
l
s

### FUNCTIONS

In [39]:
a = 10
b = 20
print(a+b)

30

In [40]:
a = 80
b = 90
print(a+b)

170

In [41]:
a = 45
b = 2
print(a+b)

47

In [ ]:
Create a function

def function_name(arguments):
    #function body
    
    return
--------------------------------------

Call a function

function_name()

In [42]:
def addition(a,b):
    sum=a+b
    print(a+b)

In [43]:
addition(7,8)

15

In [44]:
def addition(a,b):
    return a+b

In [45]:
addition(10,20)

30

In [46]:
def greet():
    print("Hello World")

In [47]:
greet()

Hello World

In [48]:
def add_two_num():
    a = int(input("Enter the first number"))
    b = int(input("Enter second number"))
    c = a+b
    print(c)

In [49]:
add_two_num()

Enter the first number5
Enter second number7
12

In [3]:
def multiply_two_numbers(x,y):
    a=x
    b=y
    c=a*b
    print(c)

In [5]:
multiply_two_numbers(3,4)

12

In [6]:
def introduction(name):
    print("hi",name)

In [8]:
introduction('pwskills')

hi pwskills

In [9]:
def intro(name,surname):
    print('hi',name,surname)

In [11]:
intro('Nakul','Desai')

hi Nakul Desai

In [15]:
def absolute(a):
    if a>=0:
        print(a)
    else:
        print(-a)

In [16]:
absolute(-1)

1

In [17]:
absolute(6)

6

In [20]:
def full_name(a,b):
    c=a+b
    return c

In [22]:
x=full_name('pw','skills')

In [23]:
x

'pwskills'

In [24]:
def full_name(a,b):
    c=a+b
    print(c)

In [25]:
x=full_name('pw','skills')

pwskills

In [26]:
x

In [27]:
def full_name(a,b):
    c=a+b
    return

In [28]:
x=full_name('pw','skills')

In [29]:
x

In [30]:
type(x)

NoneType

In [31]:
def introduction(name):
    print("Hi",name)

In [32]:
introduction("Nakul")

Hi Nakul

In [33]:
def fullname(a,b):
    c=a+b
    return

In [34]:
w=fullname('pw','skills')

In [35]:
type(w)

NoneType

In [42]:
def calc(a,b):
    print("PERFORM :'add','sub','div','mul'")
    operation=input("Enter operation to be performed :")
    if operation == 'add':
        return a+b
    if operation == 'sub':
        return a-b
    if operation == 'div':
        return a/b
    if operation == 'mul':
        return a*b

In [43]:
calc(10,4)

PERFORM :'add','sub','div','mul'
Enter operation to be performed :div

2.5

In [44]:
calc(20,5)

PERFORM :'add','sub','div','mul'
Enter operation to be performed :sub

15

In [47]:
def area_circle(radius):
    return 3.14*radius**2

In [48]:
area_circle(5)

78.5

In [49]:
def area_rect(l,b):
    return l*b

In [50]:
area_rect(5,4)

20

In [51]:
def area_triangle(b,h):
    return .5*b*h

In [52]:
area_triangle(10,2)

10.0

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [74]:
for i in range(1,6):
    for j in range(i) :
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [12]:
def square(a):
    return a**2

In [13]:
square(5)

25

In [14]:
def add(a,b):
    return a+b

In [15]:
add(6,7)

13

In [16]:
def add_words(w1,w2):
    print(w1," ",w2)

In [17]:
add_words("nakul","desai")

nakul   desai

In [24]:
#create a Python program that includes a user defined function called print_even_number()


def print_even_number(a,b):
    for i in range(a,b+1):
        if i%2==0:
            print(i,end=" ")

In [25]:
print_even_number(2,50)

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [26]:
def check_rt_triangle(x,y,z):
    if x**2==y**2+z**2:
        print("Right angle triangle")
    elif x**2+y**2==z**2:
         print("Right angle triangle")
    elif x**2+z**2==y**2:
         print("Right angle triangle")
    else:
        print("Not a right angle triangle")

In [27]:
check_rt_triangle(5,12,13)

Right angle triangle

In [28]:
check_rt_triangle(13,12,5)

Right angle triangle

In [29]:
check_rt_triangle(12,13,5)

Right angle triangle

In [30]:
check_rt_triangle(2,4,5)

Not a right angle triangle

In [31]:
check_rt_triangle(3,4,5)

Right angle triangle

In [3]:
def check_valid_password():
    
    s = input("enter the password to be checked")
    
    if 8 <= len(s) <= 32 and s[0].isupper() and s[-1].islower():
        invalid_chars="/\\='\""
        
        for char in s:
            if char in  invalid_chars :
                print("False")
                return
        print("True")
           
    else:
        print("False")

In [6]:
check_valid_password()

enter the password to be checkedNakul@Desai
True

In [ ]:
def check_valid_password():
    s = input("Enter the password to be checked: ")
    
    if 8 <= len(s) <= 32 and s[0].isupper() and s[-1].islower():
        invalid_chars = "/\\='\" "
        
        for char in s:
            if char in invalid_chars:
                print("False")
                return
        
        print("True")
    else:
        print("False")

# Call the function to check a password
check_valid_password()

In [1]:
def greet():
    
    message="Hello"
    
    print("local",message)

In [2]:
greet()

local Hello

In [3]:
def greet():
    
    message="Hello"  #It is a local variable and can be created only inside the def function
    
    print("local",message)
    
print(message)
greet()

NameError: name 'message' is not defined

In [4]:
#Local Variable
def add():
    x=20
    y=30
    print(x+y)
print(x)
print(y)

NameError: name 'x' is not defined

In [6]:
#Global Variable

x= "awesome" #-------Global Scope

def myfunc():
    x="fantastic" #======Local scope
    print("Python is " + x)
myfunc()
print(x)

Python is fantastic
awesome

In [16]:
x = 20

def add():
    y=30
    print("Local variable y=",y)
    
    print("Global variable x=",x)
    
    z=x+y
    print(z)
    
    
def sub():
        m=10
        print("Local variable m=",m)
        print("Global variable x=",x)

In [17]:
add()

Local variable y= 30
Global variable x= 20
50

In [18]:
sub()

Local variable m= 10
Global variable x= 20

#### ARGUMENT TYPES

In [19]:
#Python Functional arguments

In [26]:
#Positional Argument

def add_numbers(a,b):
    sum = a+b
    print("sum",sum)
    
    
def emp_name(name):
    print("My name is :",name)

In [27]:
add_numbers(2,5)

sum 7

In [28]:
emp_name('nakul')

My name is : nakul

In [38]:
#Default Argumenmt

def add_numbers(a=4,b=5):
    sum=a+b
    print("sum",sum)
    

        
def emp_name(name="pwskills"):
    print("My name is :",name)

In [39]:
add_numbers()

sum 9

In [40]:
add_numbers()

sum 9

In [41]:
add_numbers(2,10)

sum 12

In [42]:
emp_name()

My name is : pwskills

In [43]:
emp_name('Nakul')

My name is : Nakul

In [44]:
#Keyword Arguments


def display_info(first_name,last_name):
    print("first name",first_name)
    print("second name",last_name)

In [45]:
display_info(first_name='pw',last_name='skills')

first name pw
second name skills

In [46]:
display_info(last_name='skills',first_name='pw')

first name pw
second name skills

In [47]:
add_numbers(a=4,b=5)

sum 9

In [48]:
add_numbers(b=5,a=4)

sum 9

In [61]:
#Variable Length Arguments

#*args
def find_sum(*numbers):
    result=0
    
    for num in numbers:
        result+=num
    print("sum",result)

In [62]:
find_num()

sum 0

In [63]:
find_sum(1,2,3,4,5,6,7,8,9)  #We can add anu number of argument

sum 45

In [64]:
find_sum(6,7,8,9,10)

sum 40

In [65]:
def simple(*x):
    print(x)

In [66]:
simple()

()

In [67]:
simple(1,2,3,4)

(1, 2, 3, 4)

In [68]:
simple(4,5,6,7,8,9)

(4, 5, 6, 7, 8, 9)

In [4]:
#*kwargs

def intro(**data):
    print("Datatype of argument",type(data))
    
    
    for key,value in data.items():
        print(key,value)

In [5]:
intro(firstname='PW',lastname='skills')

Datatype of argument <class 'dict'>
firstname PW
lastname skills

In [2]:
x={'a':1,'b':3}
for keys,value in x.items():
    print(keys,value)

a 1
b 3

In [3]:
x.items()

dict_items([('a', 1), ('b', 3)])

In [6]:
def simple(**x):
    print(x)

In [7]:
simple(name='Nakul',age=28,id_no=23)

{'name': 'Nakul', 'age': 28, 'id_no': 23}

In [9]:
def simple1(*y):
    print(y)

In [10]:
simple1(3,4,5)

(3, 4, 5)

In [11]:
simple1(4,5,6,7,8,9)

(4, 5, 6, 7, 8, 9)

In [12]:
def simple(**x):
    print(x)

In [13]:
simple(name="nakul")

{'name': 'nakul'}

In [14]:
simple(name="Nakul",surname="Desai",age=28)

{'name': 'Nakul', 'surname': 'Desai', 'age': 28}

In [15]:
def shownumbers(*x):
    print(x)

In [16]:
shownumbers(1)

(1,)

In [17]:
shownumbers(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [18]:
def showkeyvalue(**y):
    print(y)

In [19]:
showkeyvalue(x=1,y=2)

{'x': 1, 'y': 2}

In [20]:
showkeyvalue(x=1,y=2,z="Pwskills",w="ineuron")

{'x': 1, 'y': 2, 'z': 'Pwskills', 'w': 'ineuron'}

In [21]:
def showvalue(*args):
    print(args)

In [22]:
showvalue(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

In [23]:
def showkeyvalue(**kwargs):
    print(kwargs)

In [24]:
showkeyvalue(name='Nakul',surname="Desai",age=28,gender="Male")

{'name': 'Nakul', 'surname': 'Desai', 'age': 28, 'gender': 'Male'}

##### LAMBDA FUNCTIONS

In [ ]:
It is an anonymous function i.e a function without a name

Syntax:- lambda argument(s):Expression
    
e.g :- greet=lambda:print("Hello World")

In [25]:
greet=lambda:print("Hello World")

In [27]:
greet()

Hello World

In [29]:
y=lambda:print("PW skills")

In [30]:
y()

PW skills

In [32]:
add_num=lambda a,b:a+b

In [33]:
add_num(2,7)

9

In [35]:
mul_num=lambda a,b : a*b

In [36]:
mul_num(9,8)

72

In [37]:
a = int(input("Enter first number"))
b = int(input("Enter second number"))
square = lambda a,b:(a**2,b**2)
print(square(a,b))

Enter first number56
Enter second number65
(3136, 4225)

In [38]:
def evenodd(n):
    if n%2==0:
        print("number is even")
    else:
        print("number is odd")

In [41]:
evenodd=lambda n:"Even"if n%2==0 else "Odd"

In [42]:
evenodd(7)

'Odd'

In [47]:
greatest=lambda x,y:x if x>y else y

In [48]:
greatest(10,20)

20

In [49]:
sum_num=lambda a,b,c:a+b+c

In [50]:
sum_num(10,20,30)

60

In [52]:
products=[
    {'name':'Product1','price':50},
     {'name':'Product2','price':40},
     {'name':'Product3','price':30}, 
    {'name':'Product4','price':80},
]

sorted_products = sorted(products,key=lambda x : x['price'])

In [53]:
for i in sorted_products:
    print(i)

{'name': 'Product3', 'price': 30}
{'name': 'Product2', 'price': 40}
{'name': 'Product1', 'price': 50}
{'name': 'Product4', 'price': 80}

In [55]:
sorted_products

[{'name': 'Product3', 'price': 30},
 {'name': 'Product2', 'price': 40},
 {'name': 'Product1', 'price': 50},
 {'name': 'Product4', 'price': 80}]

In [61]:
#filter
#map
#reduce

In [63]:
string=input("Enter string :").lower()
L=[]
for char in string:
    if char in ['a','e','i','o','u']:
        L.append(char)
print(L)

Enter string :Nakul
['a', 'u']

In [64]:
x =-10
abs(x)

10

In [65]:
id(x)

1418886267824

In [66]:
l=[1,2,3,4,5,6,7,8,9]
max(l)

9

In [67]:
x=2
y=str(x)
print(type(y))

<class 'str'>

In [69]:
language=['python','java','javascript']

In [70]:
enumerate_prime=enumerate(language)

In [71]:
list(enumerate_prime)

[(0, 'python'), (1, 'java'), (2, 'javascript')]

In [72]:
enumerate_prime=enumerate(language,2)

In [73]:
list(enumerate_prime)

[(2, 'python'), (3, 'java'), (4, 'javascript')]

In [74]:
enumerate_prime=enumerate(language,20)

In [75]:
list(enumerate_prime)

[(20, 'python'), (21, 'java'), (22, 'javascript')]

In [78]:
s=input("Enter the string here")
for index,value in enumerate(s):
    print(f"value {value} : index {index}")

Enter the string hereNakul Desai
value N : index 0
value a : index 1
value k : index 2
value u : index 3
value l : index 4
value   : index 5
value D : index 6
value e : index 7
value s : index 8
value a : index 9
value i : index 10

#### List Comprehension

In [ ]:
Syntax:- [output|collection|condition]

In [79]:
lst=[1,2,3,4,5,6,7,8,9,10]
a=[x for x in lst]

In [80]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [85]:
lst=[1,2,3,4,5,6,7,8,9,10]
a=[x+1 for x in lst]

In [86]:
a

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [87]:

a=[x*2 for x in lst]
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [88]:
lst=[1,2,3,4,5,6,7,8,9,10]
a=[x for x in lst if x>4]
a

[5, 6, 7, 8, 9, 10]

In [90]:
a= []
for x in lst:
    if x>4:
        a.append(x)
a

[5, 6, 7, 8, 9, 10]

In [92]:
lst=[1,2,3,4,5,6,7,8,9,10]
a=[x for x in lst if x%2==0]
a

[2, 4, 6, 8, 10]

In [98]:
lst=[1,2,3,4,5,6,7,8,9,10]
d=[x for x in lst if x>4 if x%2==0]
d

[6, 8, 10]

In [97]:
a=[]
for i in lst:
    if x>4:
        if x%2==0:
            a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [100]:
lst=[1,2,3,4,5,6,7,8,9,10]
e= [x if x>4 else 'less than 4'for x in lst ]
e

['less than 4', 'less than 4', 'less than 4', 'less than 4', 5, 6, 7, 8, 9, 10]

In [101]:
a=[]
for x in lst:
    if x>4:
        a.append(x)
    else:
        a.append("less than 4")
print(a)

['less than 4', 'less than 4', 'less than 4', 'less than 4', 5, 6, 7, 8, 9, 10]

In [104]:
lst=[1,2,3,4,5,6,7,8,9,10]

f=['two' if x%2==0 else 'three' if x%3==0 else 'not 2 @ 3' for x in lst]
f

['not 2 @ 3',
 'two',
 'three',
 'two',
 'not 2 @ 3',
 'two',
 'not 2 @ 3',
 'two',
 'three',
 'two']

In [105]:
a=[]
for i in lst:
    if i%2==0:
        a.append('two')
    elif i%3==0:
        a.append('three')
    else:
        a.append('not 2 &3')
print(a)

['not 2 &3', 'two', 'three', 'two', 'not 2 &3', 'two', 'not 2 &3', 'two', 'three', 'two']